[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=makhmud
Group=makhmud

WorkingDirectory=/home/makhmud/bottg/
Environment="PYTHONPATH=/home/makhmud/bottg/bottg/"
ExecStart=/home/makhmud/bottg/bottg/.venv/bin/python /home/makhmud/bottg/bottg/ubuntu18/main.py

[Install]
WantedBy=multi-user.target
